@tailwind base;
@tailwind components;
@tailwind utilities;

.topography-background {
    background-image: url("../static/img/topography.svg");
}

button {
    /* TODO: do smooth transitions for the hover/active states (GSAP can probably do this in a gradient-compatible way?) */
    @apply bg-gradient-to-tl from-orange-900 to-yellow-800 py-2 px-4 hover:to-yellow-700 active:to-yellow-700 active:from-orange-800;
}

/* TODO: surely there's a better way to hide scroll bars now? */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: "Ortica";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../static/font/Ortica-Light.woff2") format("woff2"),
         url("../static/font/Ortica-Light.woff")  format("woff");
}

@font-face {
    font-family: "Ortica";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../static/font/Ortica-Bold.woff2") format("woff2"),
         url("../static/font/Ortica-Bold.woff")  format("woff");
}

@font-face {
    font-family: "Porpora";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../static/font/Porpora-Regular.woff2") format("woff2"),
         url("../static/font/Porpora-Regular.woff")  format("woff");
}